# Simple Artificial Nueral Network(ANN)using Tensorflow

In [9]:
import tensorflow as tf
from tensorflow import keras
from keras import layers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,LabelEncoder

In [10]:
#import dataset
df=sns.load_dataset('tips')

In [11]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [29]:
# Dropping the "trip" column to create the feature set 'x'
x = df.drop("tip", axis=1)

# Assigning the "trip" column to the target variable 'y'
y = df["tip"]

#preprocess the data
le=LabelEncoder()
df['sex']=le.fit_transform(df['sex'])
df['smoker']=le.fit_transform(df['smoker'])
df['day']=le.fit_transform(df['day'])
df['time']=le.fit_transform(df['time'])

x = df.drop("tip", axis=1)
y = df["tip"]

#BY scaling x
scaler=MinMaxScaler()
x_scaled=scaler.fit_transform(x)

#Train test split the data
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2, random_state=42)

In [30]:
x_train.shape

(195, 6)

In [31]:
#Create a model
model=tf.keras.Sequential
([
    tf.keras.layers.Dense(32,activation='relu',input_shape=[x_train.shape[1]]),  #input layer
    tf.keras.layers.Dense(16 ,activation='relu'),  #hidden layer
    tf.keras.layers.Dense(1)    #output layer
])

[<keras.src.layers.core.dense.Dense at 0x1e5fabfccd0>,
 <keras.src.layers.core.dense.Dense at 0x1e5faf9be50>,
 <keras.src.layers.core.dense.Dense at 0x1e5fb12fa90>]

In [32]:
#compile the model
model = Sequential()
model.compile(
    optimizer='adam',loss='mean_squared_error',metrics='accuracy'
)

In [33]:
#train the model
model.fit(x_train,y_train,epochs=5)

Epoch 1/5
7/7 [==============================] - 0s 2ms/step - loss: 9.1900 - accuracy: 0.0359
Epoch 2/5
7/7 [==============================] - 0s 3ms/step - loss: 9.1900 - accuracy: 0.0359
Epoch 3/5
7/7 [==============================] - 0s 3ms/step - loss: 9.1900 - accuracy: 0.0359
Epoch 4/5
7/7 [==============================] - 0s 2ms/step - loss: 9.1900 - accuracy: 0.0359
Epoch 5/5
7/7 [==============================] - 0s 3ms/step - loss: 9.1900 - accuracy: 0.0359

In [34]:
loss=model.evaluate(x_test,y_test)
print("Loss is:",loss)

2/2 [==============================] - 0s 5ms/step - loss: 6.2164 - accuracy: 0.0204
Loss is: [6.2163519859313965, 0.020408162847161293]